{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content %}
<div class="col-12 mb-5">
    {% if perms.blog.add_blogarticle %}
    <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Создать запись</a>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for object in object_list %}
        <div class="col-3 p-1">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">{{ object.title}}</p>
                    <p class="card-text">Содержание: {{ object.body|slice:100}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'blog:view' object.pk %}" role="button">Просмотр</a>
                            {% if perms.blog.change_blogarticle %}
                            <a class="btn btn-primary" href="{% url 'blog:edit' object.pk %}" role="button">
                                Редактировать</a>
                            {% endif %}
                            {% if perms.blog.delete_blogarticle %}
                            <a class="btn btn-primary" href="{% url 'blog:delete' object.pk %}" role="button">
                                Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

</div>
