{% extends 'catalog/base.html'%}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col-6 p-1">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Список категорий</h1>
            </div>
        </section>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
            </tr>
            </thead>
            <tbody>
            {% for category in object_list %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
