{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content %}
{% if user.is_authenticated %}
<a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Создать продукт</a>
{% endif %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for product in object_list %}
    <div class="col-3 p-1">
        <div class="card shadow-sm">
            <div style="width: 300px; height: 280px; overflow: hidden;">
                <img src="{{ product.preview | media_filter }} " alt="обрезанное изображение"
                     style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body">
                <p class="card-text">{{ product.name}}</p>
                <p class="card-text">Описание: {{ product.description|slice:100}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'catalog:products_detail' product.pk %}"
                           role="button">Просмотр</a>
                        {% if perms.catalog.can_edit_description and perms.catalog.can_edit_category and perms.catalog.can_change_is_published or user == product.owner %}
                        <a class="btn btn-primary" href="{% url 'catalog:edit_product' product.pk %}"
                           role="button">Редактировать</a>
                        {% endif %}
                        {% if user == product.owner or user.is_superuser %}
                        <a class="btn btn-primary" href="{% url 'catalog:delete_product' product.pk %}"
                           role="button">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <p class="card-footer">
                Версия: {{ product.active_version }}
                {% if product.number_version %}
                - {{ product.number_version }}
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}